

body{
    background-color: justify;
    font-family: cursive;
}

header{
    background-color: lightblue;
}
.container{
    width:80%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li{
    float: left;
}

li a {
    display: block;
    padding: 45px;
    width: 80%;
    
   
    
}
h1{
    text-align: center;
}
.info{
    
    background-color: lightblue;
    border: 1px solid blue;
    font-size: large;
    display: flex;
    justify-content: center;
    text-align: center;
   
      
}
